@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    <label for="ProductName">Product Name</label>
                </th>
                <th>
                    <label for="GroupName">Group Name</label>
                </th>
                @foreach(var material in Model.SelectedBlueprint.BillOfMaterials)
                {
                    <th>
                        <label asp-for="@material.Name">@material.Name</label>
                    </th>
                }
            </tr>
            <tr>
                <td>
                    @Model.SelectedBlueprint.ProductName
                </td>
                <td>
                    @Model.SelectedBlueprint.GroupName
                </td>
                @foreach (var material in Model.SelectedBlueprint.BillOfMaterials)
                {
                    <td>
                        @material.Quantity
                    </td>
                }
            </tr>
        </table>
    </form>
</div>
